.accordion-container{
  &__btn-acc {
    background-color: #eee;
    border: none;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .active {
  background-color: #ccc;
  }

  &__panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }

  &__btn-acc:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  }

  .active:after {
  content: "\2796";
  }
}