.bottom-nav{
	border-bottom 	: 1px solid #DFE0E0;
	background    	: #FFF;
	position      	: fixed;
	bottom         	: 0;
	width         	: 100%;
	left          	: 0;
	display 		: flex;
	justify-content : center;
	z-index: -10;
	&__container{
		display 		: flex;
		justify-content : space-between;
		height        	:  3rem;
		width: 100%;
		max-width: 1200px;
		padding: 0 15px;
	}
	&__menu{
		width: 100%;
		margin: 0;
		padding: 5px 0 0 0;
		display: flex;
		justify-content: space-between;
	}
	&__li{
		display: flex;
		justify-content: center;
	}
	&__anchor{
		color: black;
		span{
			margin-top: 5px;
			display: block;
			font-size: 14px;

		}
		i{
			text-align: center;
			font-size: 20px;
			color: #007BDF;
		}
	}
	@media only screen
	and (min-device-width: 0px)
	and (max-device-width: 960px)
	and (-webkit-min-device-pixel-ratio: 2) {
		z-index: 1;
	}
}
