.tns-controls { 
    text-align: center; 
    margin-bottom: 10px; 
    > [aria-controls] {
        font-size: 15px;
        margin: 0 5px;
        padding: 0 1em;
        height: 2.5em;
        color: #000;
        background: #66CCFF;
        border-radius: 3px;
        border: 0;
        [disabled] { 
            color: #999999;
            background: #B3B3B3; 
            cursor: not-allowed !important;  
          }
    }
}
[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}

.tns-nav {
  position: absolute;
  z-index: 14;
  width: 100%;
  bottom: 0;

  text-align: center;
  margin: 10px 0;
  [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
  }
  > .tns-nav-active { background: #999; }
  &__nav-controls{
		position: absolute;
		width: 100%;
		text-align: center;
		margin: 10px 0;
		bottom: 0;
		z-index: 1000;
		 [aria-controls] {
			width: 20px;
			height: 20px;
			background: #717171;
			text-align: center;
			color: transparent;
			border-radius: 20px;
			border: 1px #aaa solid;
			position: relative;
			transition: all .25s;
			padding: 0;
			margin: 0 10px;
			cursor: pointer;
			outline: 0;
			&:before{
				content: "";
				display: block;
				position: absolute;
				width: 18px;
				height: 18px;
				background-color: transparent;
				border: 2px solid transparent;
				border-radius: 20px;
				left: 0;
				top: 0;

			} 
		}
		 [aria-selected="true"] {
			background-color:transparent;
			&:before{
				border-color: #fff;
			}
		}
	}
}




 
.controls { text-align: center; }
.controls li {
  display: block;
  position: absolute;
  top: 50%;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s;
}