.tns-carousell{
  & > div:nth-child(odd){
    background        : var(--color-first);
  }
  & > div:nth-child(even){
    background        :var(--color-third);
  }
  &__content{
    height            : 100px;
    background        : transparent;
    display           : flex;
    justify-content   : center;
    flex-direction    : column;
    align-items       : center;
    span{color        : white;}
  }
}


  