.items-config{
  background        : transparent;
  display           : flex;
  justify-content   : center;
  flex-direction    : column;
  align-items       : center;
  span{
    color           : white;
  }
}

.position-config{
  position: absolute;
  z-index: 1;
  width: 100%;
}
*:focus {
  outline: none;
}
.tns-outer{  
  position: relative;
  .tns-controls{
    @extend .position-config;    
    top: 50%;
    >button {
      position: absolute;
      top: 50%;
      z-index: 100;
      transform: translateY(-50%);
      background-color: transparent;
      border: 0;
      color: #FFF;
      font-size: 24px;
      opacity: 0.8;
      transition: opacity .3s ease;
    }

    > button:hover {
      opacity: 0.3;
    }
    
    
    > button:focus {
      outline: 0;
    }
    
    > button:first-child {
      left: 10px;
    }
    
    > button:last-child {
      right: 10px;
    }
  }
  
  .tns-nav{
    @extend .position-config;
    bottom: 0;
    text-align: center;
  margin: 10px 0;
  [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
  }
  > .tns-nav-active { background: #999; }
  }
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
}
.tns-carousell, .tns-vertical, .tns-nav-thumbnails{
  &__content{
    height: 100px;
    @extend .items-config
  }
}

.tns-nav-thumbnails{
  margin-top: 2px;
  &__content{
    border-right: 1px solid #eee;
  }
}

.tns-nav-single{
  &__content{
    height: 50vh;
    @extend .items-config;
  }
}
.tns-single{
  &__content{
    height: 50vh;
    @extend .items-config
  }

}

.tns-item:nth-child(odd){
  background: var(--color-first);
}
.tns-item:nth-child(even){
 background:var(--color-third);
}