div(class='ed-container')
    div(class='ed-item')
        div(class='accordion-container')
            button(class='accordion-container__btn-acc') Section 1
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Section 2
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Section 3
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet