

section(class='l-section s-py-4 banner2')
	// Separación del contenido en columnas
	div(class='ed-grid lg-grid-2 row-gap s-gap-2 m-gap-4')
		// Contenido de la columna 1
		div(class='s-column s-main-center lg-main-start lg-cross-start s-center lg-left')
			h1(class='bigger-title') Banner principal de dos columnas con EDgrid
			p Creado utilizando los componentes de columnas. Totalmente responsive.
			// Botones
			div(class='s-main-center')
				a(class='button s-mr-2 s-mb-2 m-mb-0') Botón 1
				a(class='button s-mb-2 m-mb-0') Botón 2
		// Contenido de la columna 2
		div
			div(class='img-container s-ratio-16-9')
				img.s-radius-1(src='https://ed-grid.comhttps://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/og-image.jpg')

