div(class='ed-container')
	div(class='ed-item')  
		h2 Contact
div(class='ed-grid m-grid-2 lg-grid-3 row-gap')
	ul.data-list
		li: i(class='far fa-envelope'): a(href='mailto:Buscoelexito@linkupglobaleducation.org' target='_blank' class='foot-icon') Email
		li: i(class='fas fa-phone'): a(href='tel:+50688861617"' target='_blank' class='foot-icon') Phone Number
	ul.data-list
		li: i(class='fab fa-whatsapp'): a(href='https://msng.link/o/?50688861617=wa' target='_blank' class='foot-icon') WhatsApp
		li: i(class='fab fa-linkedin-in'): a(href='https://www.linkedin.com/company/linkupglobaleducation/' target='_blank' class='foot-icon') Linkedln
	ul.data-list
		li: i(class='fab fa-facebook-f'): a(href='https://www.facebook.com/Linkupcr/' target='_blank' class='foot-icon') Facebook
		li: i(class='fab fa-instagram'): a(href='https://www.instagram.com/linkupeducation/' target='_blank' class='foot-icon') Instagram
