#customize.customize
    div: div: img(src="https://source.unsplash.com/collection/993239/600x400"  width="600" height="400")
    div: div: img(src="https://source.unsplash.com/collection/1673600/600x400" width="600" height="400")
    div: div: img(src="https://source.unsplash.com/collection/1513994/600x400" width="600" height="400")
    div: div: img(src="https://source.unsplash.com/collection/502925/600x400"  width="600" height="400")
    div: div: img(src="https://source.unsplash.com/collection/1891993/600x400" width="600" height="400")
.customize-tools
    ul#customize-thumbnails.thumbnails
        li: img(src="https://source.unsplash.com/collection/993239/600x400"  width="600" height="400")
        li: img(src="https://source.unsplash.com/collection/1673600/600x400" width="600" height="400")
        li: img(src="https://source.unsplash.com/collection/1513994/600x400" width="600" height="400")
        li: img(src="https://source.unsplash.com/collection/502925/600x400"  width="600" height="400")
        li: img(src="https://source.unsplash.com/collection/1891993/600x400" width="600" height="400")
    ul#customize-controls.controls
        li.prev: img(src="images/angle-left.png" alt="")
        li.next: img(src="images/angle-right.png" alt="")
    .playbutton-wrapper
        button#customize-toggle Pause
