div(class='ed-container')
    div(class='ed-item')
        div(class='tabs-container')
            ul(class='tabs-container__tabs' id='tabs')
                li(class='tabs-container__tab is-active') Tab 1
                li(class='tabs-container__tab') Tab 2
                li(class='tabs-container__tab') Tab 3
                li(class='tabs-container__tab') Tab 4
                li(class='tabs-container__tab') Tab 5
            
            div(class='tabs-container__panels')
                div(class='tabs-container__panel is-active')
                    h2 Opcion 1
                    p Lorem ipsum dolor sit amet, consectetur 
                div(class='tabs-container__panel')
                    h2 Opcion 2
                    p Lorem ipsum dolor sit amet, consectetur 
                div(class='tabs-container__panel')
                    h2 Opcion 3
                    p Lorem ipsum dolor sit amet, consectetur 
                div(class='tabs-container__panel')
                    h2 Opcion 4
                    p Lorem ipsum dolor sit amet, consectetur 
                div(class='tabs-container__panel')
                    h2 Opcion 5
                    p Lorem ipsum dolor sit amet, consectetur 