section(class='slider-container')
    div(class='ed-container')
        div(class='ed-item')
            h1 Carousell
    div(class='tns-carousell' id='tnsCarousell')
        div: div(class='tns-carousell__content'): span 1
        div: div(class='tns-carousell__content'): span 2
        div: div(class='tns-carousell__content'): span 3 
        div: div(class='tns-carousell__content'): span 4
        div: div(class='tns-carousell__content'): span 5
        div: div(class='tns-carousell__content'): span 6
        div: div(class='tns-carousell__content'): span 7
        div: div(class='tns-carousell__content'): span 8
        div: div(class='tns-carousell__content'): span 9
        div: div(class='tns-carousell__content'): span 10 




    div(class='ed-container')
        div(class='ed-item')
            h1 Main Slider        
    div(class='tns-single' id='tnsSingle')
        div: div(class='tns-single__content'): span tns Single 1
        div: div(class='tns-single__content'): span tns Single 2
        div: div(class='tns-single__content'): span tns Single 3
        div: div(class='tns-single__content'): span tns Single 4

        






    div(class='ed-container')
        div(class='ed-item')
            h1 slider Main 1 item for nav                   
    div(class='tns-nav-single' id='tnsNavThumbnails')
        div: div(class='tns-nav-single__content'): span 1
        div: div(class='tns-nav-single__content'): span 2
        div: div(class='tns-nav-single__content'): span 3
        div: div(class='tns-nav-single__content'): span 4
    div(class='ed-container')
        div(class='ed-item no-padding')              
            div(class='tns-nav-thumbnails' id='tnsThumbnails')
                div: div(class='tns-nav-thumbnails__content'): span 1
                div: div(class='tns-nav-thumbnails__content'): span 2
                div: div(class='tns-nav-thumbnails__content'): span 3 
                div: div(class='tns-nav-thumbnails__content'): span 4
