section(class='slider-container')
    div(class='ed-container')
        div(class='ed-item')
            h1 slider Carousell
    div(class='tns-slider' id='tnsCarousell')
        div(class='tns-slider__item'): span 1
        div(class='tns-slider__item'): span 2
        div(class='tns-slider__item'): span 3 
        div(class='tns-slider__item'): span 4
        div(class='tns-slider__item'): span 5
        div(class='tns-slider__item'): span 6
        div(class='tns-slider__item'): span 7
        div(class='tns-slider__item'): span 8
        div(class='tns-slider__item'): span 9
        div(class='tns-slider__item'): span 10 





    div(class='ed-container')
        div(class='ed-item')
        h1 slider Vertical       
    div(class='tns-slider' id='tnsVertical')
        div(class='tns-slider__item'): span 1
        div(class='tns-slider__item'): span 2
        div(class='tns-slider__item'): span 3
        div(class='tns-slider__item'): span 4
        div(class='tns-slider__item'): span 5
        div(class='tns-slider__item'): span 6
        div(class='tns-slider__item'): span 7
        div(class='tns-slider__item'): span 8
        div(class='tns-slider__item'): span 9
        div(class='tns-slider__item'): span 10





    div(class='ed-container')
        div(class='ed-item')
            h1 slider Main 1 item        
    div(class='tns-slider' id='tnsSingle')
        div(class='tns-slider__item'): span 1
        div(class='tns-slider__item'): span 2
        div(class='tns-slider__item'): span 3
        div(class='tns-slider__item'): span 4





    div(class='ed-container')
        div(class='ed-item')
            h1 slider Main 1 item for nav                   
    div(class='tns-slider' id='tnsNav')
        div(class='tns-slider__item'): span 1 
        div(class='tns-slider__item'): span 2
        div(class='tns-slider__item'): span 3
        div(class='tns-slider__item'): span 4
    div(class='ed-container')
        div(class='ed-item')              
            div(class='tns-thumbnails' id='tnsThumbnails')
                div(class='tns-thumbnails__item'): span 1
                div(class='tns-thumbnails__item'): span 2
                div(class='tns-thumbnails__item'): span 3
                div(class='tns-thumbnails__item'): span 4
