section(class='slider-container')
    div(class='ed-container')
        div(class='ed-item')
            h1 tns carousell
    div(class='tns-carousell' id='tnsCarousell')
        div: div(class='tns-carousell__content'): span 1
        div: div(class='tns-carousell__content'): span 2 
        div: div(class='tns-carousell__content'): span 3 
        div: div(class='tns-carousell__content'): span 4
        div: div(class='tns-carousell__content'): span 5
        div: div(class='tns-carousell__content'): span 6
        div: div(class='tns-carousell__content'): span 7
        div: div(class='tns-carousell__content'): span 8
        div: div(class='tns-carousell__content'): span 9
        div: div(class='tns-carousell__content'): span 10  


    div(class='ed-container')
        div(class='ed-item')
            h1 tns slingle        
    div(class='tns-single' id='tnsSingle')
        div: div(class='tns-single__content'): span tns Single 1
        div: div(class='tns-single__content'): span tns Single 2
        div: div(class='tns-single__content'): span tns Single 3
