section(class='slider-container')
    div(class='ed-container')
        div(class='ed-item')
            h1 tns carousell
    div(class='tns-carousell' id='tnsCarousell')
        div: div(class='tns-carousell__content'): span 1
        div: div(class='tns-carousell__content'): span 2 
        div: div(class='tns-carousell__content'): span 3 
        div: div(class='tns-carousell__content'): span 4
        div: div(class='tns-carousell__content'): span 5
        div: div(class='tns-carousell__content'): span 6
        div: div(class='tns-carousell__content'): span 7
        div: div(class='tns-carousell__content'): span 8
        div: div(class='tns-carousell__content'): span 9
        div: div(class='tns-carousell__content'): span 10  

    div(class='ed-container')
        div(class='ed-item')
            h1 tns Vertical Slider
    div(class='tns-vertical' id='tnsVertical')
        div: div(class='tns-vertical__content'): span 1
        div: div(class='tns-vertical__content'): span 2 
        div: div(class='tns-vertical__content'): span 3 
        div: div(class='tns-vertical__content'): span 4
        div: div(class='tns-vertical__content'): span 5
        div: div(class='tns-vertical__content'): span 6
        div: div(class='tns-vertical__content'): span 7
        div: div(class='tns-vertical__content'): span 8
        div: div(class='tns-vertical__content'): span 9
        div: div(class='tns-vertical__content'): span 10      


    div(class='ed-container')
        div(class='ed-item')
            h1 tns slingle        
    div(class='tns-single' id='tnsSingle')
        div: div(class='tns-single__content'): span tns Single 1
        div: div(class='tns-single__content'): span tns Single 2
        div: div(class='tns-single__content'): span tns Single 3

    div(class='ed-container')
        div(class='ed-item')
            h1 tns Syncing
    div(class='tns-syncing-for' id='tnsSyncingFor')
        div: div(class='tns-syncing-for__content')
            div(class='tns-syncing-for__top-item'):     span main 1
            div(class='tns-syncing-for__bottom-item'):  span sub content 1
        div: div(class='tns-syncing-for__content')
            div(class='tns-syncing-for__top-item'):     span main 2
            div(class='tns-syncing-for__bottom-item'):  span sub content 2
        div: div(class='tns-syncing-for__content')
            div(class='tns-syncing-for__top-item'):     span main 3
            div(class='tns-syncing-for__bottom-item'):  span sub content 3
        div: div(class='tns-syncing-for__content')
            div(class='tns-syncing-for__top-item'):     span main 4
            div(class='tns-syncing-for__bottom-item'):  span sub content 4

    div(class='ed-container tns-syncing-nav' id='tnsSyncingNav')
        div(class='ed-item s-25 tns-syncing-nav__content'): span 1 nav
        div(class='ed-item s-25 tns-syncing-nav__content'): span 2 nav
        div(class='ed-item s-25 tns-syncing-nav__content'): span 3 nav
        div(class='ed-item s-25 tns-syncing-nav__content'): span 4 nav
