nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='assets/img/logo.png', alt='', class='top-nav__logo')
		ul(class='top-nav__menu')
			li(class='top-nav__li'): a(href='./', 			class='top-nav__anchor') Todos los cursos
			li(class='top-nav__li'): a(href='especialidades.html', 	class='top-nav__anchor') Espcialidades
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
			span.hamburger-box
				span.hamburger-inner

