extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'JS Avanzado Paradigmas'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Descripción
				p JavaScript es un lenguaje multiparadigma, lo que significa que se puede programar con distintos estilos
					| (paradigmas). Incluso podemos usar más de uno en un mismo proyecto según nuestras necesidades. En este curso
					| avanzado de JavaScript aprenderás como trabajar con los paradigmas de Orientación a Objetos, Funcional,
					| Reactivo y Asíncrono mientras aprendes conceptos más profundos del lenguaje. Se recomienda haber tomado
					| primero el curso JavaScript Desde Cero.
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_avanzado.jpg")
	div(class='ed-container')
		div(class='ed-item l-50')
			h2 Detalles
			ul
				li Duraccion: 1 Mes.
				li Horas: 16 - una clase semanal de 4 horas
				li Workshop - Proyecto Final.
				li Costo: $ 000.000 ivi.
				li Consulte nuestras facilidades de pago.
			h2 Que aprenderas?
			ul
				li Dejarás de hacer JavaScript imperativo para trabajar con diferentes paradigmas.
				li Comprenderás programación funcional.
				li Comprenderás la programación asincróna.
				li Programarás JS del lado del servidor y del frontend.
			h2 Objetivo
			p lorem
			h2 Requisitos
			p lorem
			h2 A quien va dirigido?
			p lorem
		div(class='ed-item l-50')
			h2 Temario
			details
				summary Programacion Orientada a Objetos
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Programacion Asincronica
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Programacion Funcional
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Programacion Reactiva
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.

block main-container
block main-footer
block scripts
