extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'TypeScript'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_typescript.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start
				h1 Detalles
				ul
					li Duraccion: 4 semanas.
					li Horas: 32 / 2 clases semanales de 4 horas.
					li Costo: $ 000.000 ivi.
					li Consulte nuestras facilidades de pago.
			// Contenido de la columna 2

	div(class='ed-container')
		div(class='ed-item l-50')
			h2 Que aprenderas?
			ul
				li Sintaxis de TypeScript
				li Conocer los tipos de datos y sus ventajas
				li Aplicar el paradigma de POO en TypeScript
			h2 Objetivo
			p Capacitar al estudiante en esta poderoso meta lenguage que nos permitira programar como un lenguage
				| fuertemente tipado y hacer la conversion a JS coo lo entiende el navegador
			h2 Requisitos
			p Para este curso es escencial tener los conocimientos adquiridos en los cursos:
				ul
					li JS Introductorio
					li JS Intermedio
					li JS Avanzado
			h2 A quien va dirigido?
			p A todo a aquel que desee adentrarse y actualizarse en el mundo de la tecnologia web.
		div(class='ed-item l-50')
			h2 Temario
			details
				summary Introduccion
				ul.feature-list
					li Qué es TypeScript
					li Herramientas de trabajo
					li El compilador de TypeScript
					li El archivo tsconfig
					li El compilador y el tsconfig
					li El compilador y ECMAScript
			details
				summary Tipos de Datos
				ul.feature-list
					li Tipos primitivos
					li Tipo number
					li Cadenas de texto
					li Tipos especiales
					li Never, null & undefined
					li Tipos especiales y arreglos
					li Tuplas
					li Creando alias para tipos de datos
					li Aserciones de tipos de datos
					li Aplicando correctamente las aserciones.
					li Definir los tipos de datos con enumerados
					li Conociendo las interfaces
					li Extendiendo las interfaces
			details
				summary POO en TS
				ul.feature-list
					li Clases y constructores
					li Miembros públicos, privados y protegidos
					li Asignar privacidad a los atributos del proyecto
					li Métodos Get y Set
					li Atributos de sólo lectura
					li Herencia de clases
					li Clases abstractas
					li Atributos y métodos estáticos
			details
				summary Decoradores y Modulos
				ul.feature-list
					li Decoradores en TypeScript
					li Aplicando decoradores a las funciones
					li Definiendo los archivos .d.ts
					li Librerías para TypeScript
					li Módulos, imports y exports
block main-container
block main-footer
block scripts

