extends ../config/template
append config
	-currentPage = "Curso"
	-siteName = 'CSS Introductorio'
	-content = 'content'
	-pageDescription = 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_css_desde_cero.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Descripción
				p ¿Sabías que se puede diseñar solo con código? ¿Sin programas de diseño como Photoshop o Illustrator? CSS
					| es un lenguaje creado para diseñar la web, cuando ves una web hermosa, con animaciones y efectos, estos
					| se crearon con CSS. Este curso te enseñará desde cero a escribir código CSS con buenas prácticas e iniciar
					| tu carrera como diseñador web.
			// Contenido de la columna 2

	div(class='ed-container')
		div(class='ed-item l-50')
			h2 Detalles
			ul
				li Duraccion: 1 Mes.
				li Horas: 16 - una clase semanal de 4 horas
				li Costo: $ 000.000 ivi.
				li Consulte nuestras facilidades de pago.
			h2 Que aprenderas?
			ul
				li Fundamentos, sintaxis y buenas prácticas de CSS.
				li Selectores, pseudoclases, modelo de caja.
				li Manejo del texto y del color.
			h2 Objetivo
			p Dar las herramientas necesarias tanto teoricas como practicas para adentrarse en el mundo de la tecnologia web
				| demostrando al final de este cursos lo aprendido con el proyecto que desarollaremos. Este curso se lleva de manera simultanea con
				| el curso HTML desde cero
			h2 Requisitos
			p No requieres tenener ningun conocimiento ya que este curso la base para los siguientes que son mas avanzados.
				| Este curso se lleva de manera simultanea con el curso HTML desde cero
			h2 A quien va dirigido?
			p A todo a aquel que desee adentrarse en el mundo de la tecnologia web, pueden venir del area de diseño
				| como de la parte de desarrollo ó no saber absolutamente nada ya que el curso es desde cero.
		div(class='ed-item l-50')
			h2 Temario
			details
				summary Introduccion
				ul.feature-list
					li Introducción
					li Requisitos para el curso
					li Historia de CSS
					li Módulos CSS
					li Conectar HTML y CSS
					li Sintaxis de CSS
					li Variables CSS

			details
				summary Selectores
				ul.feature-list
					li Estilos del navegador
					li Selectores
					li Selectores simples: etiqueta
					li Selectores simples: clases
					li Selectores simples: Id
					li Selectores compuestos: agrupados
					li Selectores compuestos: combinados
					li Selectores compuestos: descendientes
					li Selectores con operadores + > ~ *
					li Selectores de atributos
					li Selector de atributos con comodines

			details
				summary Los Pilares de CSS
				ul.feature-list
					li  ¿Cómo funciona CSS?
					li Especificidad
					li Cascada
					li Estilos computados
					li Herencia

			details
				summary Box model
				ul.feature-list
					li Elementos de línea y de bloque
					li Propiedad display
					li Margin
					li Padding
					li Bordes
					li Propiedad box-sizing

			details
				summary Bordes y sombras
				ul.feature-list
					li border
					li Border radius
					li Outline
					li Box shadow
			details
				summary Pseudoclases
				ul.feature-list
					li  ¿Qué son las pseudoclases?
					li :hover :active :visited
					li :target :not :empty
					li :first-child :last-child :first-of-type :last-of-type
					li :nth-child :nth-of-type

			details
				summary Fondos
				ul.feature-list
					li background-color
					li background-size
					li background-position
					li background-clip y background-origin
					li background-attachment
					li Background múltiples
					li Shorthand Background

			details
				summary Color
				ul.feature-list
					li Currentcolor
					li Color keywords
					li Modo RGB
					li Notación Hexadecimal
					li  Modo HSL
					li Degradados lineales
					li Degradados radiales
					li Degradados repetidos
					li Ejercicio Ying-Yang

			details
				summary Texto
				ul.feature-list
					li Conceptos básicos de tipografía
					li Unidades de medida em y rem
					li Estilos básicos de texto
					li Font Family
					li Sombras de texto
					li Fuentes para la web
					li @font-face
					li font-display
					li Creando un sistema de fuentes
					li Espacios en blanco
					li Flujo y desbordamiento
					li Resolver desbordamiento
					li Ejercicio controlar texto en vertical


			details
				summary Position
				ul.feature-list
					li Flujo y espacio reservado
					li Propiedades offset (top, left, right, bottom)
					li Position relative
					li Position absolute
					li Ejercicio tooltip
					li Ejercicio menú desplegable
					li Repasando temas de posicionamiento
					li Position fixed
					li Position sticky
					li Stacking context
					li z-index
					li pointer-events
					li Ejercicio modal
			details
				summary Variables CSS
				ul.feature-list
					li ¿Qué son las variables CSS?
					li Scope
					li Herencia y cascada
					li Diferencia entre variables CSS y variables SASS
					li Variables CSS en RWD
					li Variables CSS en creación de temas
					li Creando un sistema de botones

			details
				summary Pseudo elementos
				ul.feature-list
					li ¿Qué son los pseudoelementos?
					li ::after y ::before
					li attr()
					li unicode y quotes
					li Imágenes
					li Vacío
					li Pseudoelementos con variables CSS
					li ::first-line
					li ::first-letter
					li ::selection

			details
				summary Listas y contadores
				ul.feature-list
					li Estructura y tipos de lista
					li list-style-type
					li List style image
					li List style position
					li Marker
					li Contadores
					li Contadores anidados
					li Ejercicio con contadores
					li Ejercicio calculadora con contadores

			details
				summary Tablas y formularios
				ul.feature-list
					li Estructura de tablas
					li Bordes en tablas
					li caption-side y empty-cell
					li table-layout
					li Maquetación y estilos de tablas
					li Apariencia de inputs
					li Resize
					li Focus
					li Placeholder shown
					li Required, optional
					li Enabled, disabled, readyonly
					li Valid
					li Estructura y layout de formularios

			details
				summary Filtros
				ul.feature-list
					li Introducción a los filtros
					li Grayscale
					li Sepia
					li Invert
					li Hue-rotate
					li Brightness
					li Contrast
					li Saturate
					li Blur
					li Opacity
					li Drop-shadow
					li Ejercicio múltiples filtros en un elemento
					li Ejercicio sombra con filtros

			details
				summary Blending modes
				ul.feature-list
					li Introducción a los blending modes
					li Multiply
					li Screen
					li Overlay
					li Hard light y Soft light
					li Color dodge
					li Darken y Lighten
					li Difference
					li Exclusión
					li Hue
					li Color
					li Saturation
					li luminosity
					li isolatiION


			details
				summary Figuras, recortes y máscaras
				ul.feature-list
					li Recorte rectangular/interior
					li Recorte circular
					li Recorte elíptico
					li Recorte poligonal
					li Recorte con SVG
					li Animaciones con recortes
					li Máscaras de recortes
					li Composición de máscaras
					li Banner parallax con máscaras

			details
				summary Scroll
				ul.feature-list
					li Desbordamiento de contenido
					li Smooth scroll con CSS
					li Controlando posición final del scroll
					li Desplazamiento dentro de contenedores
					li Scroll fullpages
					li Personalización del scroll. (Parte 1)
					li Personalización del scroll. (Parte 2)
					li Ejercicio tema dark y white para scroll

			details
				summary Layout
				ul.feature-list
					li Holy grail layout responsive
					li Manejo de columnas. (Parte 1)
					li Manejo de columnas. (Parte 2)
					li Creando estructura de landing pages. (Parte 1)
					li Creando estructura de landing pages. (Parte 2)
					li  ¿Cuál es el siguiente paso?

			details
				summary Conceptos de RWD
				ul.feature-list
					li Concepto
					li Viewport
					li Media Queries
					li Metodologias
					li Unidades relativas: Porcentaje
					li Unidades relativas: em y rem
					li Unidades de viewport
					li Unidades de viewport II
					li Responsive web design flexbox
					li Responsive web design css grid
					li Breakpoints

			details
				summary Imágenes y videos responsive
				ul.feature-list
					li Video responsive con css
					li Video responsive con css grid
					li Imagenes responsive con css
					li Imaganes responsive con picture
					li Imagenes responsive con srcset

			details
				summary RWD en Javascript
				ul.feature-list
					li CSSOM
					li Propiedad style
					li Propiedad style II
					li Trabajando con variables css
					li Media queries con javascript


block main-container
block main-footer
block scripts




