extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'React Js Proyecto'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Descrpción
				p En este Workshop aplicarás los conceptos de React.js para desarrollar desde cero tu propia aplicación de
					| educación online como la de EDteam. Iremos desde la planificación hasta el despliegue de la aplicación en producción.
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_react_proyecto.jpg")
	div(class='ed-container')
		div(class='ed-item l-50')
			h2 Detalles
			ul
				li Duraccion: 1 Mes.
				li Horas: 16 - una clase semanal de 4 horas
				li Workshop - Proyecto Final.
				li Costo: $ 000.000 ivi.
				li Consulte nuestras facilidades de pago.
			h2 Que aprenderas?
			ul.feature-list
				li Planificar y estructurar un proyecto
				li Escribir componentes según atomic design
				li Utilizar el estado global
				li Desplegar tu app en un servidor
			h2 Objetivo
			p lorem
			h2 Requisitos
			p lorem
			h2 A quien va dirigido?
			p lorem
		div(class='ed-item l-50')
			h2 Temario
			details
				summary Estructura, Librerias y dependencias
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Configurar nuestro Store con Redux
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Rutas y Sistema de Autenticacion
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Deployment
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.

block main-container
block main-footer
block scripts



