extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Figma'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Figma
				p Aprende la principal herramienta de diseño y prototipado colaborativo y en tiempo real del mercado.
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_figma.jpg")

	div(class='ed-container')
		div(class='ed-item l-50')
			h2 Description
			p El diseño es hoy en día uno de los requerimientos más importantes en el desarrollo de software y producto.
				| Pero el solo mantenimiento de un sistema de diseño puede tomar más tiempo que el diseño mismo: control de
				| versiones, actualización de recursos, cambios en conflicto, etc. Figma es la mayor revolución en el diseño
				| porque permite trabajar en equipo, en tiempo real y sobre un mismo producto. No más carpetas compartidas,
				| archivos adjuntos o reuniones de consolidación. Figma es el futuro del diseño de interfaces y probablemente
				| del diseño gráfico en general. Este es el curso de Figma más completo que encontrarás en español y te llevará
				| desde lo más básico hasta crear tus propios sistemas de diseño y tu primer prototipo de aplicación: Appmovies.
		div(class='ed-item l-50')
			h2 Detalles
			ul
				li Duraccion: 1 Mes.
				li Horas: 16 - una clase semanal de 4 horas
				li Workshop - Proyecto Final.
				li Costo: $ 000.000 ivi.
				li Consulte nuestras facilidades de pago.

	.ed-grid.l-grid-2
		div
			h2 Que aprenderas?
			ul.feature-list
				li Diseño vectorial con Figma
				li Estrategias de trabajo colaborativo
				li Diseño UI y prototipado
				li Sistemas de diseño
				li Tu primer mockup y prototipo con Figma
		div
			h2 Temario
			details
				summary ¿Qué es Figma?
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Herramientas de Diseño I
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Herramientas de Diseño II
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Constrains
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Librerias y Estilos
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Prototipado I
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Prototipado II
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Trabajo Colaborativo
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Plugins
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Herramientas de Diseño
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.

block main-container
block main-footer
block scripts



