extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Adobe Ilustrador'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_ilustrador.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start
				h1 Que aprenderas?
				ul
					li Herramientas de Adobe iIlustrator.
					li Diseño vectorial.
					li Manejo de textos.
					li Máscaras y formas.
					li Símbolos y composiciones.
			// Contenido de la columna 2

	div(class='ed-container')
		div(class='ed-item l-50')

			h2 Objetivo
			p Capacitar al estudiante con las bases principales necesarias para entender el uso de Adobe Ilustrador y la teoría que encierra al diseño
				| y orientarla al los dispositivos sobre los cuales vamos a trabajar: los navegadores y los dispositivos mobiles.
			p Para este curso no requieres tener conocimientos en Photoshop pero es escencial tener los conocimientos adquiridos en los cursos:
			ul
				li HTML Introductorio
				li CSS Introductorio
			h2 A quien va dirigido?
			p A todo a aquel que desee adentrarse y actualizarse en el mundo de la tecnologia web.
		div(class='ed-item l-50')
			h2 Temario
			details
				summary Empezando a diseñar
				ul.feature-list
					li Introducción
					li Creación de archivo
					li Herramientas básicas
					li Interfaz
					li Mesas de trabajo
					li Trabajando con formas
					li Alinear elementos

			details
				summary Creacion de formas personalizadas
				ul.feature-list
					li Formas básicas
					li Creador de formas
					li Creador de formas II
					li Creador de formas III
					li Creando pez con formas básicas
					li Color y muestras de color
					li Color y muestras de color II

			details
				summary Colocando aspectos avanzados en Objetos
				ul.feature-list
					li Elemento trazo
					li Punto de ancla
					li Puntos de ancla II
					li Dibujando con herramienta pluma
					li Dibujando con herramienta pluma II
					li Degradado

			details
				summary Diseño con Mascaras
				ul.feature-list
					li Ilustración personalizada
					li Degradados
					li Práctica - malla de degradado
					li Práctica malla de degradado II
					li Práctica malla de degradado III
					li Herramienta fusión y busca trazos

			details
				summary Creando composiciones avanzadas
				ul.feature-list
					li Mascara de recorte
					li Mascara de recorte II
					li Mascara opacidad
					li Panel apariencia
					li Panel de apariencia II
					li Panel de apariencia III

			details
				summary Diseñando con textos, fotos y capas
				ul.feature-list
					li Símbolos
					li Herramientas para símbolos
					li Creación de símbolos
					li Automatización de elementos
					li Capas y subcapas
					li Proyecto afiche
					li Proyecto afiche II
					li Proyecto afiche III
					li Detalles finales


block main-container
block main-footer
block scripts



