extends ../config/template
append config
	-currentPage = "home"
	-siteName = 'JS Intermedio'
	-content = 'content'
	-pageDescription = 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_en_el_navegador.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Descripción
				p Aprende a manipular todo lo que aparece en la pantalla del navegador (DOM) y responder a la interacción del usuario (eventos).
			// Contenido de la columna 2

	div(class='ed-container')

		div(class='ed-item l-50')
			h2 Que aprenderas?
			ul
				li Entender el arbol DOM.
				li Manipular los elementos del DOM.
				li Mover,clonar, quitar y remplazar elementos del DOM.
				li Manejar eventos de mouse, teclado, formularios y pantalla,Timers, fechas con JavaScript.
			h2 Objetivo
			p Capacitar al estudiante aen todo lo referente a como funciona el arbol de nodos del navegador
			h2 Requisitos
			p Para este curso es escencial tener los conocimientos adquiridos en el curso:
			ul
				li JavaScript Introductorio
			h2 A quien va dirigido?
			p Esta dirigido a todo aquel que desee actualizar sus conocimientos en tecnologias de punta en esta caso el lenguage JS
				| en el navegador
		div(class='ed-item l-50')
			h2 Temario
			details
				summary El DOM y el BOM
				ul.feature-list
					li El DOM
					li Nodos
					li Seleccionar nodos
					li Colecciones de nodos
					li Atributos
					li Contenido
					li Crear elementos en el DOM

			details
				summary Los Eventos
				ul.feature-list
					li Los eventos
					li Eventos de mouse
					li Eventos de teclado
					li Eventos de formulario
					li Eventos del DOM y navegador
					li Eventos multimedia
					li Propagación de eventos
					li Delegación de eventos

			details
				summary Manipular el DOM
				ul.feature-list
					li DOM traversing
					li insertBefore()
					li Ejercicio con insertBefore()
					li insertAdjacent
					li Remplazar hijos
					li Métodos de jQuery
					li Clonar y eliminar
					li Crear elementos y fragmentos
					li Templates (HTML)
					li CSSOM (CSS)

			details
				summary El Navegador
				ul.feature-list
					li 4.1 - Objeto window
					li 4.2 - Ejercicio responsive tester
					li 4.3 - Objeto location
					li 4.4 - Objeto history
					li 4.5 - Objeto navigator
					li 4.6 - Timers
					li 4.7 - Objeto Date


block main-container
block main-footer
block scripts



