extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Illustrator'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Adobe XD
				p Aprende diseño vectorial con el software preferido por los expertos.
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_ilustrador.jpg")
	div(class='ed-container')
		div(class='ed-item l-50')
			h2 Description
			p Illustrator es el software lider en el mundo del diseño vectorial y el preferido por los expertos.
				| Illustrator es el programa ideal para el diseño de afiches, pancartas, comics, logotipos, identidad
				| corporativa e incluso mockups de interfaces. Para tomar este curso no necesitas conocimientos previos,
				| iremos completamente desde cero hasta crear tu primer proyecto.
		div(class='ed-item l-50')
			h2 Detalles
			ul
				li Duraccion: 1 Mes.
				li Horas: 16 - una clase semanal de 4 horas
				li Workshop - Proyecto Final.
				li Costo: $ 000.000 ivi.
				li Consulte nuestras facilidades de pago.
	.ed-grid.l-grid-2
		div
			h2 Que aprenderas?
			ul.feature-list
				li Herramientas de Adobe iIlustrator.
				li Diseño vectorial.
				li Manejo de textos.
				li Máscaras y formas.
				li Símbolos y composiciones.
		div
			h2 Temario
			details
				summary Introduccion
				ul.feature-list
					li Herramientas de Adobe iIlustrator.
					li Diseño vectorial.
					li Manejo de textos.
					li Máscaras y formas.
					li Símbolos y composiciones.
			details
				summary Creacion de formas personalizadas
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Colocando aspectos avanzados en Objetos
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Diseño con Mascaras
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Creando composiciones avanzadas
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Diseñando con textos, fotos y capas
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.

block main-container
block main-footer
block scripts



