extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'JS Desde el Navegador'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.l-section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 JS en el Navegador
				p Lorem ipsum dolor sit amet.
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="/assets/img/curso_js_en_el_navegador.jpg")
	.ed-grid
		div
			h2 Description
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ducimus, est eum, excepturi facilis
				| impedit magni modi mollitia non numquam praesentium quaerat quidem sequi voluptate voluptatibus!
				| impedit magni modi mollitia non numquam praesentium quaerat quidem sequi voluptate voluptatibus!
				| impedit magni modi mollitia non numquam praesentium quaerat quidem sequi voluptate voluptatibus!
				| impedit magni modi mollitia non numquam praesentium quaerat quidem sequi voluptate voluptatibus!
				| Consequatur exercitationem numquam optio?
	.ed-grid.l-grid-2
		div
			h2 Que aprenderas?
			ul.feature-list
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet.
			h2 Que necesitas saber?
			ul.feature-list
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet.
		div
			h2 Temario
			details
				summary Clase 1
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Clase 2
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Clase 3
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Clase 4
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.

block main-container
block main-footer
block scripts



