extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'JS Desde el Navegador'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.l-section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 JS en el Navegador
				p JavaScript es un lenguaje que vive en el navegador y nos permite manipular el DOM.
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_en_el_navegador.jpg")
	.ed-grid
		div
			h2 Description
			p Aprende a manipular todo lo que aparece en la pantalla del navegador (DOM) y responder a la interacción del usuario (eventos).

	.ed-grid.l-grid-2
		div
			h2 Que aprenderas?
			ul.feature-list
				li Entender el arbol DOM.
				li Manipular los elementos del DOM.
				li Mover,clonar, quitar y remplazar elementos del DOM.
				li Manejar eventos de mouse, teclado, formularios y pantalla,Timers, fechas con JavaScript.
		div
			h2 Temario
			details
				summary El DOM y el BOM
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Los Eventos
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary Manipular el DOM
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
			details
				summary El Navegador
				ul.feature-list
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit amet.

block main-container
block main-footer
block scripts



