extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Desarrollo Web React JS'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.l-section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Desarrollo Web <Javascript></Javascript>
				p Lorem ipsum dolor sit amet.
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="assets/img/esp_js.jpg")
	div(class='ed-container')
		div(class='ed-item l-75')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_desde_cero.html')
							img(src='./assets/img/curso_js_desde_cero.jpg')
				div(class='ed-item m-50')
					ul.feature-list
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_navegador.html')
							img(src='./assets/img/curso_js_en_el_navegador.jpg')
				div(class='ed-item m-50')
					ul.feature-list
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_poo.html')
							img(src='./assets/img/curso_js_poo.jpg')
				div(class='ed-item m-50')
					ul.feature-list
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_ajax.html')
							img(src='./assets/img/curso_ajax.jpg')
				div(class='ed-item m-50')
					ul.feature-list
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_spa.html')
							img(src='./assets/img/curso_spa.jpg')
				div(class='ed-item m-50')
					ul.feature-list
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_ts.html')
							img(src='./assets/img/curso_typescript.jpg')
				div(class='ed-item m-50')
					ul.feature-list
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
						li Lorem ipsum dolor sit amet.
block main-container
block main-footer
block scripts



