extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Desarrollo Web Avanzado'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_desarrollo_web_avanzado.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start
				h1 Front End Avanzado
				ul
					li Numero de Cursos: 4
					li Duración: 15 Semanas
					li 120 horas / 2 clases semanales de 4 horas.
					li Workshop - Proyecto Final.
					li Costo: $1500 + 2$ IVA
					li Consulte nuestras facilidades de pago.
			// Contenido de la columna 2
	div(class='ed-container')
		div(class='ed-item l-60')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_herramientas_automatizacion.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_herramientas_automatizacion.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p En este curso Aprenderás los Task Runners mas utilizados del mercado y como configurarlos.
						br
						strong: span.time: i Duracción: 5 semanas.
							br
							| Horas: 30 / 2 clases semanales de 3 horas.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_pug.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_pug.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Pug es un motor de Plantillas basado en JS que nos dará una forma mas eficiente de escribir codigo HTML.
						br
						strong: span.time: i Duracción: 4 semanas.
							br
							| Horas: 12 / una clase semanal de 3 horas.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_sass.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_sass.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Sass le da la posibilidad a CSS de tener las ventajas de un lenguaje de Programación maximizando su uso.
						br
						strong: span.time: i Duracción: 5 semanas.
							br
							| Horas: 30 / 2 clases semanales de 3 horas.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_avanzado.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_avanzado.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Con JavaScript podemos usar más de un paradigma en un mismo proyecto según nuestras necesidades.
						br
						strong: span.time: i Duracción: 5 semanas.
							br
							| Horas: 30 / 2 clases semanales de 3 horas.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_git.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_git.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Git es un sistema de control de versiones que nos va a servir para trabajar en equipo de una manera simple.
						br
						strong: span.time: i Duracción: 4 semanas.
							br
							| Horas: 12 / 1 clase semanal de 3 horas.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./workshop.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/workshop.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Este es un espacio donde podrás integrar todos los conocimientos aprendidos en un proyecto con la ayuda del Profesor.
		div(class='ed-item l-40')
			h2 Objetivo
			p Dar continuidad a la especialidad Avanzada con temas mas especializados.
			h2 Requisitos
			p Para esta especialidad es obligatorio tener aprobados los tres cursos Desarrolo Web Intermedio
			h2 A quien va dirigido?
			p A todos los estudiantes que quieran extender sus conocimientos mas a profundidad y que tengan las habilidades
				| que enumeramos en el curso de Desarrollo Web Intermedio
block main-container
block main-footer
block scripts



