extends ../config/template
append config
	-currentPage = "Curso"
	-siteName = 'Desarrollo Web Experto'
	-content = 'content'
	-pageDescription = 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_desarrollo_web_experto.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start
				h1 Front End Experto
				ul
					li Numero de Cursos: 3
					li Duraccion: 16 Semanas
					li 128 horas - 2 clases semanales de 4 horas.
					li Workshop - Proyecto Final.
					li Costo: $ 000.000 ivi.
					li Consulte nuestras facilidades de pago.
			// Contenido de la columna 2

	div(class='ed-container')
		div(class='ed-item l-60')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_firebase.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_firebase.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Firebase es una completa plataforma de Google Backend As a Service que ofrece todo lo necesario para el desarrollo web
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_ts.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_typescript.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p TypeScript es un lenguaje de programación basado en JS que le añade soporte a nuevas funcionalidades.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_pwa.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_pwa.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Dale a tu sitio web las caracteristicas visuales de una aplicación nativa implementando PWA.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./workshop.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/workshop.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Este es un espacio donde podrás integrar todos los conocimientos aprendidos en un proyecto con la ayuda del Profesor.
		div(class='ed-item l-40')
			h2 Objetivo
			p Dar continuidad a la especialidad introductoria con temas mas avanzados que profundizan mucho mas en el
				| entendimiento del comportamiento del navegador
			h2 Requisitos
			p Para esta especialidad es obligatorio tener aprobados los primeros tres cursos de Desarrollo Web Avanzado.
			h2 A quien va dirigido?
			p A todos los estudiantes que quieran extender sus conocimientos mas a profundidad y que tengan las habilidades
				| que enumeramos en el curso de Desarrollo Web Introductorio
block main-container
block main-footer
block scripts



