extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Desarrollo Web Avanzado'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_desarrollo_web_avanzado.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start
				h1 Front End Avanzado
				ul
					li Numero de Cursos: 5
					li Duraccion: 1 Trimestre.
					li 96 horas - 2 clases semanales de 4 horas.
					li Workshop - Proyecto Final.
					li Costo: $ 000.000 ivi.
					li Consulte nuestras facilidades de pago.
			// Contenido de la columna 2

	div(class='ed-container')
		div(class='ed-item l-60')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_herramientas_automatizacion.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_herramientas_automatizacion.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p En este curso Aprenderás los Task Runners mas utilizados del mercod y como configurarlos.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_pug.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_pug.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Con pug puedes escribir código HTML sencillo y agregarle lógica de programaciónal manejar más eficiente tu código HTML con el motor de plantillas Pug
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_sass.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_sass.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p CSS no es un lenguaje de programación y esto hace que proyectos medianos a grandes sean muy dificiles de manejar.
						| Sass resuelve estos problemas dándole a CSS las características de un lenguaje de programación.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_svg.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_svg.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p SVG (Scalable Vector Graphics) es un formato de imágenes vectoriales para web en formato XML. Es
						| decir,puedes crearlas con programas como Illustrator o Sketch pero también directamente con código.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_avanzado.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_avanzado.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p JavaScript es un lenguaje multiparadigma, lo que significa que se puede programar con distintos
						| estilos(paradigmas). Incluso podemos usar más de uno en un mismo proyecto según nuestras necesidades.
		div(class='ed-item l-40')
			h2 Objetivo
			p Dar continuidad a la especialidad Avanzada con temas mas especializados.
			h2 Requisitos
			p Para esta especialidad es obligatorio tener aprobados los tres cursos Desarrolo Web Intermedio:
			ul
				li Herramientas de Automatizacion
				li Diseño CSS Intermedio
				li JavaScript Intermedio
				li Git
			h2 A quien va dirigido?
			p A todos los estudiantes que quieran extender sus conocimientos mas a profundidad y que tengan las habilidades
				| que enumeramos en el curso de Desarrollo Web Intermedio
block main-container
block main-footer
block scripts



