extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Desarrollo Web Introductorio'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.m-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_intro_desarrollo_web.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start
				h1 Front End Introductorio
				ul
					li Numero de Cursos: 3
					li Duración: 15 Semanas
					li 120 horas / 2 clases semanales de 4 horas.
					li Workshop - Proyecto Final.
					li Costo: $1500 + 2$ IVA
					li Consulte nuestras facilidades de pago.
			// Contenido de la columna 2

	div(class='ed-container')
		div(class='ed-item l-60')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_html5.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_html.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p El estándar HTML5 es el lenguage que dió inicio a la revolución que hizo navegador programa más usado en el mundo.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_desde_cero.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_css_desde_cero.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p CSS es un lenguaje que le da forma a la web y con las nuevas especificaciones adquirió poderosas funcionalidades.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_desde_cero.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_desde_cero.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p JavaScript es el lenguaje más popular e importante del mundo del desarrollo web al integrarse con HTML y CSS
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./workshop.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/workshop.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Este es un espacio donde podrás integrar todos los conocimientos aprendidos en un proyecto con la ayuda del Profesor.
		div(class='ed-item l-40')
			h2 Objetivo
			p Dar las herramientas necesarias tanto teoricas como practicas para adentrarse en el mundo de la tecnologia web
				| en las tres tecnologías mas elementales de la web como son: HTML, CSS y JS
			h2 Requisitos
			p HTML y CSS no requiere conocimientos previos pero JavaScript requiere que tengas conocimientos sólidos en Programación ya que este curso
				| no es para aprender a programar. Este programa dará las bases para los siguientes módulos.
			h2 A quien va dirigido?
			p A todo a aquel que desee adentrarse en el mundo de la tecnologia web, pueden venir del area de diseño
				| como de la parte de desarrollo ó no saber absolutamente nada ya que el curso es desde cero.
block main-container
block main-footer
block scripts



