extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Desarrolloe Web Intermedio'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_desarrollo_web_intermedio.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start
				h1 Front End Intermedio
				ul
					li Numero de Cursos: 4
					li Duraccion: 1 Cuatrimestre.
					li 128 horas - 2 clases semanales de 4 horas.
					li Workshop - Proyecto Final.
					li Costo: $ 000.000 ivi.
					li Consulte nuestras facilidades de pago.
			// Contenido de la columna 2

	div(class='ed-container')
		div(class='ed-item l-60')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_markdown.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_markdown.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Aprende la nueva forma de escribir contenidos de una forma las ligera y limpia con esta maravillosa sintaxis.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_intermedio.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_css_intermedio.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Una vez que tengas las bases de CSS vamos al siguiente punto que es ver las nuevas especificaciones de CSS para dar estilo a nuestra maquetación.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_svg.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_svg.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p SVG es un formato de imágenes vectoriales en formato XML. Que puedes crearlas con programas como
						| Illustrator pero también directamente con código.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_intermedio.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_en_el_navegador.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Una vez que tengas las bases de JS vamos al siguiente paso que es el manejo de DOM y los eventos.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_git.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_git.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Git es un sistema de control de versiones que nos va a servir para trabajar en equipo de una
						| manera mucho más simple y optima.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./workshop.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/workshop.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Este no es un curso más ya que está integrado como parte del Módulo donde podrás integrar todos
						| los conocimientos aprendidos en un proyecto.
		div(class='ed-item l-40')
			h2 Objetivo
			p Dar continuidad a la especialidad introductoria con temas mas avanzados que profundizan mucho mas en el
				| entendimiento del comportamiento del navegador
			h2 Requisitos
			p Para esta especialidad es obligatorio tener aprobados los primeros tres cursos de Desarrollo Web Introductorio
			h2 A quien va dirigido?
			p A todos los estudiantes que quieran extender sus conocimientos mas a profundidad y que tengan las habilidades
				| que enumeramos en el curso de Desarrollo Web Introductorio
block main-container
block main-footer
block scripts



