extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Desarrollo Web React JS'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_react.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Desarrollo Web React JS
				p El camino para aprender React desde cero hasta crear tu primera aplicación real comienza con esta serie
					| de cursos que preparamos para darle las herramientas que necesitas para crecer profesionalmente
					| en esta tecnologia de alta dmeanda laboral
			// Contenido de la columna 2
	div(class='ed-container')
		div(class='ed-item l-60')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_reactjs_introductorio.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_react_introductorio.jpg')
				div(class='ed-item m-50')
					ul
						li JSX
						li Componentes
						li React Router
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_reactjs_intermedio.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_react_intermedio.jpg')
				div(class='ed-item m-50')
					ul
						li Redux
						li Context API
						li MobX
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_reactjs_avanzado.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_react_avanzado.jpg')
				div(class='ed-item m-50')
					ul
						li React Js con TypeScript
		div(class='ed-item l-40 item-shadow')
			h2 Detalles
			ul
				li Duraccion: 1 cuatrimestre.
				li 96 horas - 2 clases semanales de 3 horas
				li Workshop - Proyecto Final.
				li Costo: $ 000.000 ivi.
				li Consulte nuestras facilidades de pago.
			h2 Objetivo
			p Dar las herramientas necesarias tanto teoricas como practicas para adentrarse en una de las libreiras de front end mas populares del mercado
				| como lo es React JS
			p Para este curso no requieres tener conocimientos en Photoshop pero es escencial tener los conocimientos adquiridos en los Módulos:
			ul
				li Desarrollo Web Introductorio
				li Desarrollo Web Intermedio
				li Desarrollo Web Avanzado
			h2 A quien va dirigido?
			p A todo a aquel que desee adentrarse y actualizarse en el mundo de la tecnologia web.
block main-container
block main-footer
block scripts
