extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Diseño Web 2'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_disenno_web2.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start
				h1 Diseño Web 2
				ul
					li Numero de Cursos: 4
					li Duración: 15 Semanas
					li 120 horas - 2 clases semanales de 4 horas.
					li Workshop - Proyecto Final.
					li Costo: $1500 + 2$ IVA 
					li Consulte nuestras facilidades de pago.

	div(class='ed-container')
		div(class='ed-item l-60')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_ui.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_ui.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p El diseño UI ha crecido y en este curso aprenderás la teoría UI sin importar la herramienta que uses.
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_xd.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_xd.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Adobe XD trae cosas sorprendentes completamente orientadas al diseño de interfases de Usuario
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_figma.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_figma.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Figma trae cosas sorprendentes completamente orientadas al diseño de interfases de Usuario
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_balsamiq.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_balsamiq.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Balsamiq trae cosas sorprendentes completamente orientadas al diseño de interfases de Usuario White Frames
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./workshop.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/workshop.jpg')
				div(class='ed-item m-50')
					h2 Descripción
					p Este es un espacio donde podrás integrar todos los conocimientos aprendidos en un proyecto con la ayuda del Profesor.
		div(class='ed-item l-40')
			h2 Objetivo
			p Dar las herramientas necesarias tanto teoricas como practicas para adentrarse en el mundo de diseño web
				| y en las tres herramientas tradicionales mas elementales como son: Adobe XD y Figma
			p Para este curso no requieres tener conocimientos en Photoshop pero es escencial tener los conocimientos adquiridos en los cursos:
			ul
				li HTML Introductorio
				li CSS Introductorio
				li CSS Intermedio
			h2 A quien va dirigido?
			p A todo a aquel que desee adentrarse y actualizarse en el mundo de la tecnologia web.
block main-container
block main-footer
block scripts



