extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Diseño Web 2'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Diseño Web 2
				p Domina la teoría y las herramientas para convertirte en un diseñador de mockups y prototipos para web y
					| aplicaciones. Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_disenno_web2.jpg")
	div(class='ed-container')
		div(class='ed-item l-50')
			h2 Descripcion
			p En un mundo lleno de aplicaciones y software casi idéntico, el diseño UX y UI es capaz de agregar una capa
				| de valor agregado pues se encarga de mejorar la experiencia, de comprender al usuario y mejorar la
				| usabilidad del producto. Esta especialidad te lleva desde la teoría del diseño UI hasta el dominio de
				| las herramientas para diseñar interfaces y la creación de tu primer proyecto: una aplicación de películas.
		div(class='ed-item l-50')
			h2 Detalles
			ul
				li Numero de Cursos: 3
				li Duraccion: 1 cuatrimestre.
				li 96 horas - 2 clases semanales de 3 horas
				li Workshop - Proyecto Final.
				li Costo: $ 000.000 ivi.
				li Consulte nuestras facilidades de pago.
		div(class='ed-item l-75')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_ui.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_ui.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Fundamentos del diseño UI
						li Leyes de gestalt
						li Patrones de diseño
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_xd.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_xd.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Conociendo Adobe Xd
						li Dibujo vectorial
						li Prototipado
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_figma.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_figma.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li ¿Qué es Figma?
						li Constraints
						li Componentes
block main-container
block main-footer
block scripts



