extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Desarrolloe Web Introductorio'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_desarrollo_web_intermedio.jpg")
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Desarrollo Web Intermedio
				p Domina las bases de las 3 tecnologías que te convertirán en desarrollador web que son: HTML, CSS y JS
					| pero esta vez a un nivel un poco mas avanzado donde podras comprende con mas profundidad como se comporta el navegador
					| cuando renderiza lo que maquetamos.
			// Contenido de la columna 2

	div(class='ed-container')
		div(class='ed-item l-60')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_html5.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_herramientas_automatizacion.jpg')
				div(class='ed-item m-50')
					ul
						li Prepros
						li Node JS
						li Gulp
						li WebPack
						li Yarn
						li Yeoman
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_desde_cero.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_css_intermedio.jpg')
				div(class='ed-item m-50')
					ul
						li Flex box
						li CSS Grid
						li CSS Animaciones
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_desde_cero.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_en_el_navegador.jpg')
				div(class='ed-item m-50')
					ul
						li DOM
						li BOM
						li Nodos
						li Eventos
						li CSSOM (CSS)
						li Templates
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_desde_cero.html')
							img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_git.jpg')
				div(class='ed-item m-50')
					ul
						li Introduccion
						li Primeros Pasos
						li Ramas
						li Herramientas graficas
						li Github Pages
		div(class='ed-item l-40')
			h2 Detalles
			ul
				li Numero de Cursos: 3
				li Duraccion: 1 cuatrimestre.
				li 96 horas - 2 clases semanales de 3 horas.
				li Workshop - Proyecto Final.
				li Costo: $ 000.000 ivi.
				li Consulte nuestras facilidades de pago.
			h2 Objetivo
			p Dar continuidad a la especialidad introductoria con temas mas avanzados que profundizan mucho mas en el
				| entendimiento del comportamiento del navegador
			h2 Requisitos
			p Para esta especialidad es obligatorio tener aprobados los primeros tres cursos introductorios:
			ul
				li HTML introductorio
				li Diseño CSS Introductorio
				li JavaScript Introductorio
			h2 A quien va dirigido?
			p lorem
block main-container
block main-footer
block scripts



