extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Dise침o Web con CSS'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.l-section.s-py-4.banner-curso
		// Separaci칩n del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Desarrollo Web con CSS
				p Cursos de Actualizacion en Tecnologia
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="assets/img/esp_css.jpg")
	div(class='ed-container')
		div(class='ed-item l-75')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_desde_cero.html')
							img(src='./assets/img/curso_css_desde_cero.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Introducci칩n a CSS
						li Selectores
						li Box model
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_avanzado.html')
							img(src='./assets/img/curso_css_avanzado.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Position
						li Pseudo elementos
						li Listas y contadores
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_rwd.html')
							img(src='./assets/img/curso_rwd.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Conceptos de RWD
						li Im치genes y videos responsive
						li Proyecto final - Landing page responsive
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_flex_grid.html')
							img(src='./assets/img/curso_flex_grid.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Flex container
						li Grid container
						li CSS grid a fondo
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_variables.html')
							img(src='./assets/img/curso_css_variables.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Variables
						li Projecto
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_animaciones.html')
							img(src='./assets/img/curso_css_animaciones.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Transiciones
						li Transformaciones
						li Animaciones CSS y SVG
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_sass.html')
							img(src='./assets/img/curso_sass.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Sintaxis
						li Ciclos y condicionales
						li Debugging
block main-container
block main-footer
block scripts



