extends ../config/template
append config
	-currentPage		= "Curso"
	-siteName			= 'Desarrollo Web Intermedio'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	section.l-section.s-py-4.banner-curso
		// Separación del contenido en columnas
		.ed-grid.l-grid-2.row-gap.s-gap-2.m-gap-4
			// Contenido de la columna 1
			.s-column.s-main-center.lx-main-start.lx-cross-start.s-center
				h1 Desarrollo Web Intermedio
				p Cursos de Actualizacion en Tecnologia
			// Contenido de la columna 2
			div
				.img-container.s-ratio-16-9
					img.s-radius-1(src="https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/esp_desarrollo_web_intermedio.jpg")
	div(class='ed-container')
		div(class='ed-item l-75')
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_js_navegador.html')
							img(src='.https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_js_en_el_navegador.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li El DOM
						li Los eventos
						li El navegador
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_variables.html')
							img(src='.https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_css_variables.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Variables
						li Proyecto
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_rwd.html')
							img(src='.https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_rwd.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Conceptos de RWD
						li Imágenes y videos responsive
						li Proyecto final - Landing page responsive
			div(class='ed-container full s-mb-2')
				div(class='ed-item m-50')
					div(class='s-ratio-16-9 img-container s-radius-tl s-radius-tr lg-radius speciality-course__poster')
						a(href='./curso_css_flex_grid.html')
							img(src='.https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/curso_flex_grid.jpg')
				div(class='ed-item m-50')
					h3 Temario
					ul.feature-list
						li Flex container
						li Grid container
						li CSS grid a fondo

block main-container
block main-footer
block scripts



