extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts' 
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	+banner(
		"https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
		'Home',
		'' 
	)
block main-container
	include ../components/tns-slider
	include ../components/accordion
	include ../components/tabs
	include ../components/img-gallery
	include ../components/json-data
	include ../components/markdown
	include ../components/search-filter
	include ../components/rwd-images
	include ../components/tables
	include ../components/rrwd-youtube-video
	include ../components/video-youtube-iframe
	include ../components/html5-accordion
block main-footer
block scripts 




