extends ../config/template
append config
	-currentPage		= "home" 
	-siteName			= 'Programa Front End'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	+banner(
		"https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/main_bg.png",
		'Front End',
		'' 
	)
block main-container
	include ../components/json-data-especialidades 
block main-footer
block scripts  
