block config
	include vars
	include mixins/mixins 
doctype html
html(lang='en' prefix='og: http://ogp.me/ns#', class='no-js')
	<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
	<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
	<!--[if IE 8]><html class="no-js lt-ie9" lang=""> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	head
		include utilis/metatags 
		link(rel="stylesheet" href="assets/css/styles.css")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
	body(class=currentPage, itemscope itemtype="http://schema.org/WebPage")
		//- here start the Main Header
		header(class='main-header')
			block main-header
		//- here ends the Main Header
		//- here start the Main Container
		main(class='main-container')
			block main-container
		//- here ends the Main Container
		//- here start the Main Footer
		footer(class='main-footer')
			block main-footer
		//- here ends the Main Footer
		script(src="assets/js/scripts-min.js")
		block scripts
