*,
*:after,
*:before {
	box-sizing 			: inherit;
	padding 			: 0;
	margin 				: 0;
}

html {
	box-sizing 			: border-box;
	font-family 		: var(--main-font), var(--alternate-font);
	font-size 			: var(--font-size);
	line-height 		:  var(--line-height);
	color 				: var(--text-color);
	background-color 	: var(--bg-modal-color);
}



::selection {
	background-color 	: var(--color-first);
	color 				: var(--color-text-white);
}

body {
	margin         		: var(--header-height) 0 0 0;
	min-height     		: calc(100vh - var(--header-height));
	background 			: var(--body-bg);
	display        		: flex;
	flex-direction 		: column;
	overflow-x 			: hidden;
}
.main-container{
	margin-bottom: 15px;
}

a {
	color : var(--blue-400);
}


strong {
	font-weight : 700;
}

.main-footer {
	h2{ 
		color: #FFF;
	}
	background 			: var(--color-first);
	color      			: #FFF;
	padding    			: 2rem 0;
	font-size  			: fontSize(small);
	margin-top 			: auto;

	ul{
		li{
			list-style: none;
			a{
				padding-left: 15px;
			}
		}
	}
}

// ----- Títulos del foro ----- //
.foro-title {
	position     : relative;
	padding-left : 0.75rem;

	@include from(l) {
		padding-left : 1rem;
	}

	&::before {
		content          : '';
		position         : absolute;
		left             : 0;
		height           : 100%;
		width            : 0.35rem;
		border-radius    : 0.25rem;
		background-color : $firstColor;

		@include from(l) {
			width : 0.5rem;
		}

	}

}

// ----- Layout de los comentarios y las respuestas dentro de una publicación ----- //
.section-comments,
.section-answer {
	display               : grid;
	grid-template-columns : 1fr;
	grid-gap              : 2rem;
}


// ----- Layout de los comentarios dentro de una publicación del foro ----- //
.section-comments {
	grid-column   : span 2;
	margin-bottom : 0;

	@include from(m) {
		grid-column : 2;
	}

}

// ----- Layout de las respuestas dentro de un comentario del foro ----- //
.section-answer {
	padding: 2rem 0 0 2rem;
}
