//layout
:root {
  --header-height 		: 3rem;
  @include from(l) {
    --header-height 	: 4rem;
  } 

	//native color vars
	--color-first      	: #007BDF;
	--color-second     	: #00CBFF;
	--color-third      	: #FF3C32;
	--color-accent     	: #FBA905;
	--color-dark       	: #282D31;
	--color-border     	: #DFE0E0;
	--color-light      	: #EAEAEA;
	--color-text-white	: #FFFFFF;
	--color-text-gray	: #53575A;
	--color-body-bg 	: #F6F6F6;

	// Font families
	--main-font					: Lato;
	--alternate-font			: sans-serif;
	--font-size 				: 16px;
  	--line-height 				: 1.6;	
}