// Reset

:root {
	--main-font			: 'Raleway';
	--alternate-font	: sans-serif;
	--font-size 		: 16px; 
	--line-height 		: 1.6;  
	--main-color 		: #007BDF;
	--second-color 		: #fff;	
	--text-color 		: #000;
	--bg-color 			: #eee;
  }

/* ********** Reset ********** */
html {
	box-sizing 			: border-box;
	font-family 		: var(--main-font), var(--alternate-font);
	font-size 			: var(--font-size);
	line-height 		: var(--line-height);
	color 				: var(--text-color);
	background			: var(--bg-color);
  }
   
  *,
  *:after,
  *:before {
	box-sizing 			: inherit;
	padding 			: 0;
	margin 				: 0;
  }

  body { overflow-x		: hidden; }

  img {
	max-width 			: 100%;
	width 				: 100%;
	height 				: auto;
  }
  
  ::selection {
	background-color 	: var(--main-color);
	color 				: var(--second-color);
  }