img {
	border: 0;
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

// Código en línea
:not(pre) code {
	font-family : Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	background  : var(--color-light);
	color: var(--third-color);
	padding     : 0 .25em;
	margin      : 0 .1em;
	word-break  : break-all;
  }

  .main-footer{	  
	ul{
		li{
			list-style: none;
		}
	}
  }

a {
	text-decoration 		: none;
	color 				: var(--link-color);
	transition 			: all .3s ease-out;
  
	&:hover { color: var(--link-hover-color); }
  }

::-webkit-scrollbar {
	display: none;
}

*:focus {
    outline: none;
  }
  .no-padding{
	padding-left: 0;
	padding-right: 0;
  }


.search-style{
	line-height: 0;
	font-size: 0;
	padding: 0 !important;
	margin: 0 !important;
}
input{
	width: 100%;
	height: 30px;
	padding: 0 15px;
}
.banner-curso{
	padding: 15px;
	background: #22303a;
	color: white;
}
